html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
    margin-bottom: 60px;
}

.content, .footer{
    padding: 10px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

div.map-wrapper{
    width: 98%;
    margin: 0 auto;
}

#map {
    height:300px;
    width:100%;
    margin: 0 auto;
    margin-top:10px;

}

#legendSmall {
    display:none;
}
.legend {
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: rgba(255,255,255, 0.9);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    padding: 6px 8px;
    width: 180px;
    line-height: 18px;
    color: #555;
}

@media screen and (min-width: 630px){
    form.mapbbox-fgd {
        width:70% !important;
    }
}

@media screen and (max-width: 767px){
    .legend {
        display: none;
    }
    #legendSmall {
        display: inline-block;
        width:98%;
    }
    div.map-wrapper {
        /*padding-right:18%;*/
    }
}

@media screen and (max-width: 445px){
    select.form-control {
        display: block !important;
        width:216px !important;
        margin:0 auto;
        margin-top:12px;
    }
}
.legend i {
    width: 16px;
    height: 16px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

.legend div.info-label {
    text-align: left;
}
/* a few breakpoints to change height of map*/
@media screen and ( min-height: 660px ){
    #map {
        height: 500px;
    }
}

@media screen and ( min-height: 760px ){
    #map {
        height: 600px;
    }
}

@media screen and ( min-height: 860px ){
    #map {
        height: 700px;
    }
}

@media screen and ( min-height: 960px ){
    #map {
        height: 800px;
    }
}
.terms{
    text-align: left;
    list-style: none;
}


.dumpdata {
    width: 90%;
    margin: 0 auto;
    margin-top:14px;
}
.lblactive, .lblactive:hover {
    background: #4cae4c;
    color: white;
}

div.search-wrap {
    width: 98%;
    margin: 0 auto;
    padding:18px;
}

@media screen and ( min-width: 800px ){
    div.search-wrap, div.sdtypes {
        width: 747px;
    }
}

.geoLocate {
    padding-top:8px;
    display:inline-block;
}


.sf-data-types input[type=checkbox] {
    display: none;
}
.sflabel {
    margin: 2px;
}

form.mapbbox-fgd{
    margin:0 auto;
    display: inline-block;
    padding-top: 12px;
    width:100%;
    position:relative;
}
form.mapbbox-fgd input[type="text"] {
    /*width:362px;*/

}

form.mapbbox-fgd ul,
form.mapbbox-fgd ul li {
    list-style: none;
    margin: 0;
    padding:0;
    text-align: left;

    margin: 2px 0 0;
}

ul.mapbbox-fgdfilter {
    width: 220px !important;
}

form.mapbbox-fgd ul li:last-of-type {
    padding-bottom:6px;
}

form.mapbbox-fgd ul {
    position:absolute;
    z-index: 1000;
    width: 100%;
    border-left: 1px solid #f5f5f5;
    border-right: 1px solid #f5f5f5;
    border-bottom: 1px solid #f5f5f5;
    border-radius: 4px;
    background-color: white;
}
.fyesdselect, .fyesuser{
    background: #ffffff url('https://doc.owncloud.org/server/8.0/developer_manual/_images/checkmark.png') no-repeat 3px;
}

.fyesdselect, .fyesdselect:hover {
    background-color: #c2ddc5 !important;
}

.fyesuser, .fyesuser:hover {
    background-color: #31b0d5 !important;
    color: white;
}

.fno{

}

form.mapbbox-fgd ul li {
    padding-left: 26px;
    padding-top:6px;
    padding-bottom:6px;
}

form.mapbbox-fgd ul li:hover {
    cursor: pointer;
    cursor: hand;
    background-color:#e6e6e6;
}


.input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}