<div id="landing">

		<h3>Search for . . .</h3>

		<div class="search-wrap well">
			<div class="btn-group sf-data-types" ng-repeat="dtype in dataTypeList">
				<label class="btn btn-default sflabel ng-class:{lblactive:selectedDataTypes.indexOf(dtype.id) > -1}">
					<input type='checkbox' ng-click='onDataSelect(dtype.id)' autocomplete='off'>{{dtype.display}}
				</label>
			</div>

			<mapbox-forward-geocoding selected-location="addressSelection" query-results="results" options="{autoSuggest: true}" api-token="myapitoken"></mapbox-forward-geocoding>

			<div class="geoLocate">&middot;<a id="link-2" href="" ng-click="useCurrentPosition($event)">Use My Current
				Location</a></div>


			<div ng-show="error || finding"
			     ng-class="{'alert': finding || error, 'alert-info': finding, 'alert-danger': error}" role="alert">
				<span ng-show="error" class="sr-only">Error:</span>
				{{error}}{{finding}}
			</div>
		</div>


		<div class="well" style="margin:0 auto;margin-top:15px;width:60%;background-color: rgba(208, 208, 107, 0.15);">
			Just spitting captured data to console.log for now
		</div>

</div>
